<div class="row" ng-controller="NewConsumerController as newConsumerCtrl">
    <div class="col-md-8">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="newConsumerCtrl.consumer.name" placeholder="Consumer name" />
                <input type="text" class="form-control" ng-model="newConsumerCtrl.consumer.email" placeholder="Consumer e-mail" />
                <button class="btn btn-primary" ng-click="newConsumerCtrl.insertNew()">Insert new consumer</button>
            </div>
        </form>
    </div>
</div>
<div class="row" ng-controller="ConsumersController as consumersVm">
    <div class="col-md-8">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>E-mail</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="consumer in consumersVm.allConsumers">
                    <td width="5%">{{consumer.id}}</td>
                    <td width="60%">{{consumer.name}}</td>
                    <td>{{consumer.email}}</td>
                </tr>
            </tbody>
        </table>

        <button ng-click="consumersVm.findAll()">Load consumers</button>
    </div>
</div>

