<div class="content-wrapper">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-4">
            <h2>Login</h2>
            <p class="text-primary">If you have Username and Password, you can use the button below to access the <strong>The Candy and Snacks Store System</strong></p>
            <p><a class="btn btn-info" ui-sref="login" role="button">Login &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Sign Up</h2>
            <p class="text-primary">Use the button below to create a username and password to access the <strong>The Candy and Snacks Store System</strong></p>
            <p><a class="btn btn-info" ui-sref="signup" role="button">Sign Up &raquo;</a></p>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</div>
